@font-face {
  font-family: 'Share-TechMono';
  src: url('fonts/Share-TechMono.eot?#iefix') format('embedded-opentype'),  url('fonts/Share-TechMono.otf')  format('opentype'),
	     url('fonts/Share-TechMono.woff') format('woff'), url('fonts/Share-TechMono.ttf')  format('truetype'), url('fonts/Share-TechMono.svg#Share-TechMono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-CondensedBlack';
  src: url('fonts/DINPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),  url('fonts/DINPro-CondensedBlack.otf')  format('opentype'),
	     url('fonts/DINPro-CondensedBlack.woff') format('woff'), url('fonts/DINPro-CondensedBlack.ttf')  format('truetype'), url('fonts/DINPro-CondensedBlack.svg#DINPro-CondensedBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url('fonts/DINPro.eot?#iefix') format('embedded-opentype'),  url('fonts/DINPro.otf')  format('opentype'),
	     url('fonts/DINPro.woff') format('woff'), url('fonts/DINPro.ttf')  format('truetype'), url('fonts/DINPro.svg#DINPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

body, a, p, button, input {
    margin: 0;
    padding: 0;
    font-family: "Share-TechMono", Helvetica, sans-serif;
    font-size: 16px;
    color: #444;
}

body {
    background-color: #234678;
    background-size: contain;
    background-image: url('img/lines.png');
    background-position: bottom, 50%;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
		display: flex;
		flex-flow: column wrap;
		font-weight:400;
		text-rendering: geometricPrecision;
}

header {
    padding: 4vw;
}

.logo {
    float: right;
}

.game{
	padding: 5vh 5vh 0;
	flex: 1;
}

.yellow-text h1, .white-text h2, .goback{
	text-align: center;
	padding: 0;
	margin: 0;
	display: none;
}

.yellow-text h1.active, .white-text h2.active{
	display: block;
}

.goback.active{
	color: #234678;
	display: table;
	margin: 2rem auto;
	background: white;
	padding: 1rem;
}

.yellow-text h1{
		font-family: "DINPro-CondensedBlack", serif;
    font-size: 1.6rem;
		font-weight:400;
    color: #FAF541;
    text-transform: uppercase;
}

.white-text h2{
	font-family: "DINPro", serif;
	font-size: 2rem;
	font-weight:400;
	color: white;
	margin: 5vh 0;
	line-height: 1.3;
}

.press-here{
	display: none;
	cursor: pointer;
	font-size: 4rem;
	text-align: center;
	color: #234678;
	background: #FAF541;
	border-radius: 50%;
	height: 35vh;
	width: 35vh;
	margin: 0 auto;
	-webkit-box-shadow: 0px 2px 33px -6px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 2px 33px -6px rgba(0,0,0,0.7);
	box-shadow: 0px 2px 33px -6px rgba(0,0,0,0.7);
	align-items: center;
}
.press-here.active{
	display: flex;
}
.press-here.bounce{
	transform-origin: 50% 50%;
	animation: bounce 1s ease-in-out infinite alternate;
}

.press-here.wiggle{
	animation: wiggle .2s infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.press-here span{
	pointer-events: none;
	text-align: center;
	display: block;
	width: 100%;
	padding: 0 2rem;
}

.winner-digit{
	display: none;
}
.winner-digit.active{
	display: block;
  padding: 10vh 0;
	text-align: center;
}
.winner-digit.active span{
	font-size: 4rem;
	background: white;
	padding: 4rem 8rem;
}

footer{
	color: white;
	text-transform: uppercase;
	padding:  0 5vh 5vh;
}

footer small{
	display: block;
	margin: .5rem 0;
}

.clearfix {
    clear: both;
}
